# Ambientes e dependências
node_modules/
dist/
venv/
.venv/
.env

# Lixo e cache
__pycache__/
*.pyc
*.log
.DS_Store
Thumbs.db

# Cache do Vite
.vite/
front-end/.vite/
**/.vite/

# Electron builds
electron/dist/
electron/node_modules/
electron/package-lock.json

# Python embedded 
python-embed/
**/python-embed/

# Docker e outros
docker-data/

# Editor/IDE
.vscode/
.idea/