# Ambientes e dependências
node_modules/
dist/
venv/
.venv/
.env

# Lixo e cache
__pycache__/
*.pyc
*.log
.DS_Store
Thumbs.db


# Cache do Vite - ADICIONE ESTAS LINHAS!
.vite/
front-end/.vite/
**/.vite/


# Docker e outros
docker-data/

# Editor/IDE
.vscode/
.idea/

