version: "3.9"

services:
  backend:
    build: ./backend
    container_name: projeto-ic-backend
    ports:
      - "5000:5000"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: projeto-ic-frontend
    ports:
      - "3000:80"      
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
